<div>

    <div class="row">

        <div class="col-lg-2  nav-container padLeft30">
            <div class="row">
                <div class="col-lg-12">
                    <nav class=" navbar-light bg-light">
                        <form class="form-inline">
                            <input class="form-control icon-size" style="width:150px;font-size: 12px;" type="search"
                                placeholder="Search mail & people" aria-label="Search">
                            <mat-icon>search</mat-icon>
                        </form>
                    </nav>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div (click)="showSubmenu = !showSubmenu">
                        <mat-icon *ngIf="showSubmenu">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="!showSubmenu">keyboard_arrow_right</mat-icon>
                        <span>Folder</span>
                    </div>
                    <div *ngIf="showSubmenu">
                        <ul class="nav flex-column padLeft30" *ngFor="let listItem of folderList$|async">
                            <li class="nav-item" (click)="getEmailDetails(listItem.type)">
                                <mat-icon class="icon-size">{{listItem.icon}}</mat-icon>
                                <a> {{listItem.type}}</a>

                                <app-unread-count [listItem]="listItem.type"></app-unread-count>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-10">
            <app-mail-details [dataOption]="dataOption"></app-mail-details>
        </div>
    </div>
</div>