
@import '../../variables.scss';

.nav-container{
height:100vh;
background-color: $gray30;
}
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .rotated {
    transform: rotate(180deg);
  }

  .padLeft30{
    padding-left: 30px;
  }
 
  .icon-size{
    font-size:$iconSize;
  }


 